@font-face{font-family: Sansation;
    src: url(photo/7fonts.ru_Sansation_Regular.ttf)}
       
    @font-face{font-family: Myriad Pro;
        src: url(../css/1/neoteric/NEOTERIC/NEOTERIC___-_Regular_DEMO_VERSION.ttf)}
    
        @font-face{font-family: N EO TE RI C;
            src: url(../css/1/neoteric/NEOTERIC/NEOTERIC___-_Regular_DEMO_VERSION.ttf)}

            .clearfix:after {
                content: "";
                display: table;
                clear: both;} 

body{width: 100%;
    margin: 0%;
}
.page{width: 100%;
}
.photo-telefon{background-image: url("photo/ap-ui.png");
    
    background-size: cover;
        }
  .block1{    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1.5px solid #594e83;
  }      

.main-menu{font-size: 2em;
    line-height: 1em;
    color: rgb(255,255,255);
    font-family: Sansation;
    letter-spacing: -0.1em;
    float: left;
    }

.main-menu-ul{ list-style-type: none;
               font-size: 1.1em;
               font-family: Sansation;
               margin: 0%; 
               padding-left: 9em;
               padding-top: 0.2em;
               float: left;             
              }

.main-menu-ul li{display: inline;  }

.padding-right{padding-right: 5em;}
   .main-menu-right{   
     float: right;
    display: -webkit-inline-box;
    list-style-type: none;
    padding-right: 10em;
    margin: 0%;
    padding-top: 0.4em;
} 
.padding-right-icon{padding-right: 2em;}




a{text-decoration: none;
    color:rgb(255,255,255);
}
.text-center{text-align: center;
    padding-bottom: 15em;
}

.the-best{
    font-size: 4em;
    line-height: 2.2em;
    color: rgb(255,255,255);
    font-family: Sansation;
    font-weight: bold;
    margin-top: 4em;}
    .dop-the-best{
     width: 37em;
    height: 3.1em;
    font-size: 0.8em;
    line-height: 1.8em;
    color: rgb(255,255,255);
    font-family: Sansation;
    margin: auto;
    text-align: center;
    }

  .hire{width: 8em;
    border: 3px solid white;
    line-height: 2.4em;
    color: rgb(255,255,255);
    font-family: Sansation;
    display: inline-block;
    text-align: center;
    margin-top: 2.5em;
}

.block2{width: 100%;
    margin: 0%;}
.photo-rucka{width: 50%;
       background-image: url("photo/write-593333_1920.png");
       background-repeat: no-repeat;
       padding-bottom: 29em;
       margin: 0%;
       float: left;
}
.text-left{float: right;
    width: 50%;
}
.Us{
    font-size: 2em;
    line-height: 1em;
    color: rgb(37,37,37);
    font-family: Sansation;
    padding: 2em 1em 0.2em 1em;
    }
    .text-left-us-line{border: 1px solid black;
        width: 10em;
    }

.text2{width: 50%;
    font-size: 1em;
    line-height: 1.3em;
    color: rgb(0,0,0);
    width: 75%;
    letter-spacing: 0.08em;
    padding-left: 2.2em;
    padding-top: 2em;
}
.read{padding: 2em 2.3em;
}
.dopread{font-size: 0.7em;
    line-height: 2.5em;
    color: white;
    font-family: N EO TE RI C;
    font-weight: bold;
    border: 1px solid #05a0af;
    width: 20em;
    text-align: center;
    background: #05a0af;
        }

    .block3{
        background-color: #373737;
        padding: 0em 8em;
    }
    .services{font-size: 3em;
              line-height: 4.5em;
              color: rgb(247,247,247);
              font-family: Sansation;
              text-align: center;
              margin: 0%;
    }
    .dop1services{    width: 32%;
                      border-bottom: 2px solid white;
                      position: relative;
                      top: -6.5em;
                      float: left;}
                      .dop2services{    width: 32%;
                                        border-bottom: 2px solid white;
                                        position: relative;
                                        top: -6.5em;
                                     float: right; }
  
  
.block4{background-color: #3d3d3d;     
}
.photo-komp{ text-align: center;
}
.kvadrat1{width: 33%;
    float: left;
    padding: 8em 0em;
   
}
.web{font-size: 1.3em;
    line-height: 2em;
    color: rgb(247,247,247);
    font-family: Sansation;
    font-weight: bold;
    padding-top: 2.5em;
    text-align: center;
    letter-spacing: 0.2em;
    padding-bottom: 0.5em;
        }
    .text-we{    font-size: 0.9em;
                 line-height: 1em;
                 color: rgb(247,247,247);
                 font-family: Sansation;
                 text-align: center;
                 width: 55%;
                 margin: auto;
                 }
    

    .more{    font-size: 0.8em;
        line-height: 2.3em;
        width: 12em;
        color: rgb(247,247,247);
        font-family: Sansation;
        text-align: center;
        border: 2px solid #959595;
        background: #959595;
        display: inline-block;
        margin-top: 2em;
             }
        .kvadrat2{width: 33%;
            float: left;
            padding: 8em 0em;
            background: #097e89;
                    }
            
       .kvadrat3{width: 33%;
        float: left;
        padding: 8em 0em;
       }
.block5{ background-color: #373737;
    padding: 0em 8em;}
.block6{background-color: #3d3d3d;
    padding: 3em 2em 1em 2em;
}
.stolb1{width: 25%;
float: left;}

     .text3{font-size: 1.2em;
            line-height: 1em;
            color: rgb(205,200,200);
            font-family: Sansation;
            text-align: center;
            width: 13em;
            margin: auto;
            padding-top: 3em;
     }   

     .line-text{    display: inline-block;
        border-bottom: 2px solid;
        width: 4em;
        padding-top: 1em;}

        .number{    text-align: center;
            padding-top: 4em;        
        }
        .number-left{
            text-align: left;
        position: relative;
         top: -1em;
        }
        .number-right{    text-align: right;
            position: relative;
                        top: -2.6em;}  

            .indent-photo{width: 75%;
                float: right;}
                .inden{ list-style-type: none;
                        margin: 0%;
                        display: -webkit-inline-box;}
                
                  
        .photo-man{padding-right: 2em;}

        .photo-man img{ height: 16.5em;}

        
.block7{background-color: #fefefe;
    padding: 0em 8em;
}
.Clients{font-size: 3em;
    line-height: 4.5em;
    color: #656464;
    font-family: Sansation;
    text-align: center;
    margin: 0%;
    font-weight: bold;
}
.dop3services{ width: 32%;
    border-bottom: 2px solid black;
    position: relative;
    top: -6.5em;
    float: left;

}

.dop4services{width: 32%;
    border-bottom:2px solid black;
    position: relative;
    top: -6.5em;
    float: right;
    }
    .block8{
        padding: 1em 3em 2em 3em;
        text-align: center;
    }
.stroka-photo3{background-color: white;   
    line-height: 8em;
    display: inline-block;
}
.photo3{    float: left;
    padding: 0em 4em;
    list-style-type: none;
    margin: 0%;
}

.block9{background-color: #097e89;
    padding-top: 2em;
    padding-left: 3em;
    }
.text-quote{    width: 30%;
    float: left;
    padding: 3em 2em;
}
.Any{font-size: 2em;
    line-height: 2em;
    color: rgb(255,255,255);
    font-family: Sansation;
    padding-bottom: 0.5em;
}
.text-any{     width: 42em;
               font-size: 0.6em;
               line-height: 18px;
               color: rgb(255,255,255);
               font-family: Sansation;}
.table{        float: right;
              padding: 5em;
}
      .name{
        padding-left: 1em;
        font-size: 1em;
        line-height: 3em;
        text-align: left;
        width: 18em;
        color: rgb(255,255,255);
        font-family: Sansation;
        border: 1px solid;
        background: #097e89;
    }
    .number1{ padding-left: 1em;
        font-size: 1em;
        line-height: 3em;
        text-align: left;
        width: 18em;
        color: rgb(255,255,255);
        font-family: Sansation;
        border: 1px solid;
        background: #097e89;
        margin-left: -1em;}

        .call { font-size: 1em;
            line-height: 3em;
            text-align: center;
            width: 8em;
            color: #097e89;
            font-family: Sansation;
            border: 1px solid white;
            background: white;
            margin-left: -1em;
            font-weight: bold;}

.block10{ background: #474747;
    padding: 2em 12em 2em 4em;
}
.pillar{display: inline-block;}
.line_pillar{    border: 0.6px solid white;
    width: 2.3em;}
       
.product{    font-size: 1.2em;
      color: #e5e5e5;
      margin: 0;}
      li.style_pillar{    font-size: 0.9em;
        line-height: 2.5em;
        color: #ffffff;
        list-style-type: none;}

        .pillar-right{float: right;
            padding-top: 2em;
            position: relative;}
        .email{ font-size: 1em;
            line-height: 2.5em;
            color: #4f4e4e;
            font-family: Helvetica LT Std;
            padding-left: 1em;
            width: 30em;}

            .subscribe{ color: #ffffff;
                font-family: "Helvetica LT Std";
                background: #0072bc;
                font-size: 1em;
                width: 6em;
                text-align: right;
                line-height: 2.5em;
                border: 1px solid #0072bc;
                position: absolute;
                top: 2.1em;
                right: 0.1em;
            }
               
.list-link{ display: inline-block;
    margin-top: 3em;}
           .li-img1 { background: url("photo/sircle.png");
                   background-repeat: no-repeat;
            list-style-type: none;
            float: right;
            height: 4em;
            width: 4em;
            position: relative;}

            .img-1{position: absolute;
                padding: 21%;}
                .img-2{position: absolute;
                    padding: 14%;}
                    .img-3{position: absolute;
                        padding: 0.8em 0.6em;}