@font-face{font-family: Raleway;
    src: url(fonts/Raleway-Regular.ttf)}
    @font-face{font-family: Montserrat;
        src: url(fonts/Montserrat-Regular.ttf)}

        $bachground-screenshots-site-photo:#fbfaf8;

        @mixin center {
            max-width: 65%;
            margin: auto; 
        }
        @mixin heder-style-words {
            color: #ffffff;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 800;            
        }
        @mixin icon {
            height: 2em;
            background-repeat: no-repeat;
            margin-top: 5.5em;
           
        }
        @mixin description-text {
            color: #ffffff;
            font-family: Raleway;
            text-align: center;}

            @mixin name-h1-discribe-icon {
                font-size: 22px;
                color: #555555;
                font-family: Raleway;
                font-weight: bold;
                text-align: center;
                margin-bottom: 1.1em;
                }
                @mixin style-photo-discribe-icon {
                    background-repeat: no-repeat;
                    background-position-x: center;
                    height: 3em;
                    margin: 5em 0em 1.5em 0em;
                }
                @mixin after-h1-text-block{
                font-size: 14px;
                line-height: 24px;
                color: #8c8c8c;
                font-family: Montserrat;
                font-weight: 300;
                text-align: center;
                max-width: 17em;
                margin: auto;
                
                }
                @mixin photo-information-left-right{
                    background-repeat: no-repeat;
                    z-index: 2;
                    height: 25em;
                    width: 97em;
                    margin-top: 5em;
                }     
                @mixin portfolio-photos{
                    background-repeat: no-repeat;
                    height: 14em;
                    max-width: 23em;
                    background-position: -1em;
                }
                @mixin strip-with-icon{
                    height: 2.5em;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 2.3em;
                }
                @mixin logo{
                    height: 13em;
                    background-repeat: no-repeat;
                    background-size: 12em;
                }
                @mixin recent-posts-h1{
                    font-size: 24px;
                    color: #ffffff;
                    font-family: Raleway;
                    font-weight: bold;
                    margin-top: 3.5em;
                }
                @mixin recent-posts-p{
                    height: 20px;
                    font-size: 12px;
                    line-height: 20px;
                    color: #363636;
                    font-family: Montserrat;
                    font-weight: 300;
                    margin: 0;
                    padding-top: 1em;
                }
                @mixin line-after-words{
                    font-size: 14px;
                    line-height: 20px;
                    color: #555555;
                    font-family: Montserrat;
                    font-weight: 300;
                    padding-bottom: 5em;
                    border-bottom: 1px solid #242424;
                }
                @mixin line-small-photo{
                    height: 6.3em;
                    background-repeat: no-repeat;
                    max-width: 8em;
                    background-position: center;
                }


.page {margin: 0%;

}
a:hover {text-decoration: none;}

.main-menu {background-image:linear-gradient(rgba(75, 74, 69, 0.90), rgba(75, 74, 69, 0.20)), url("img/photo-mountains.svg");
    background-position-x: center;
    background-repeat: no-repeat;
    }
  /* .overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background:#545350;
   } добавить для потемнения картинки*/

 .main-menu a{color: #ffffff;}

    .header{max-width: 65%;
    margin: auto;
    }

    .icon-firm{ 
            background-image: url("img/logos-firm.svg");
            background-size: 4em;
            background-repeat: no-repeat;
            background-position-y: 3.6em;
                        }
        .waxom{  
            letter-spacing: -1px;
            text-align: left;
            @include heder-style-words();
            font-size: 34px;
            font-family: Raleway;
            margin-left: 1.5em;
            margin-top: 1.9em;
        }
        
.main-title{display: flex;
    justify-content: space-between;}

    .main-menu-links{
        list-style-type: none;
        @include heder-style-words();
        display: flex;
        
    }
    .main-menu-links li a:hover{
     color:#c7b299;
    }
    .main-menu-links-title{
      @include heder-style-words();
      margin-top: 6.1em;
      padding-right: 2em;
    }
                .icon-2-photo{
                    background-image: url("img/icon-cart.svg");
                    @include icon();
                    margin-left: 2em;
                    padding-right: 3em;
                    width: 2em;
                    display: inline-block;
                    
                    }
                    .icon-2-photo1{
                        background-image: url("img/icon-search.svg");
                        @include icon();
                        width: 2em;
                        display: inline-block;
                    }

    .description{margin-top: 19em;
    }
    .description h2{
        font-size: 36px;
        @include description-text ();
    }
    .description h3{
        font-size: 52px;
        font-weight: 800;
        @include description-text ();
    }
    .description p{
        width: 38em;
        font-size: 16px;
        color: #ffffff;
        font-family: Montserrat;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 3.2em;
    }
    .description button{
        border:1px  solid #988574;
        background:#988574;
        color:#ffffff;
        line-height: 2em;
        text-align: center;
        margin-bottom: 20.7em;
    }
.discribe-icon-four-blocks{max-width: 65%;
    margin: auto;
    display: flex;}

.after-h1-text-block{
    @include after-h1-text-block();
}
.discribe-icon h1{@include name-h1-discribe-icon();
}
.photo-pen{background-image: url("img/icon-pen.svg");
@include style-photo-discribe-icon();
}
.photo-book{
    @include style-photo-discribe-icon();
    background-image: url("img/icon-book.svg");
}
.photo-circle{
    @include style-photo-discribe-icon();
    background-image: url("img/icon-gear.svg");
}
.photo-file{
    @include style-photo-discribe-icon();
    background-image: url("img/icon-file.svg");
}
.bottom-line{
    width: 5em;
    border: 2px solid #f1eee9;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 5em;
     }
     .discribe-icon h1 a{
        color: #555555;
     }
.screenshots-site-photo{
    background-color: $bachground-screenshots-site-photo;
}
.screenshots-site-photo-information{ 
    text-align: center;
    padding-top: 5em;
}
.screenshots-site-photo-information h1{
    font-size: 30px;
    color: #555555;
    font-family: Raleway;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;

}
.screenshots-site-photo-information p{
    max-width: 46em;
    height: 4em;
    font-size: 16px;
    line-height: 2em;
    color: #8c8c8c;
    font-family: Montserrat;
    font-weight: 300;
    margin: auto;
    margin-bottom: 2.5em;
}
.photo-information{
    max-width: 65%;
    margin: auto;
    display: flex;
}
.photo-information-right{
    background-image: url("img/browser-right.svg");
    @include photo-information-left-right();
    background-position: right;

}
.photo-information-center{
    background-image: url("img/browser-center.svg");
    height: 30em;
    width: 283em;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}
.photo-information-left{
    background-image: url("img/browser-left.svg");
    @include photo-information-left-right();
    background-position-x: -2em;
    }
    .strip-with-button{
        background: url("img/background-color.svg");
    }
    .strip-button{
        @include center();
        display: flex;
        justify-content: space-between;
        margin-top: -0.2em;
        max-width: 60%;
    }
    .strip-button-h1 h1{
        font-size: 28px;
        color: #c7b299;
        font-family: Raleway;
        margin-top: 1.5em;

    }
    .strip-button-h1 p{
        font-size: 18px;
        color: #615855;
        font-family: Montserrat;
        font-weight: 300;
        margin-bottom: 2.8em;

    }
    .button-size button{
        border:1px  solid #988574;
        background:#988574;
        color:#ffffff;
        text-align: center;
        margin: 3.2em 0em 1.8em 0em;
        width: 10.4em;
            }
      .button-size a:hover{
                color:#ffffff;
            }
.portfolio{
    @include center();
}
.portfolio-title h1{
    font-size: 30px;
    color: #555555;
    font-family: Raleway;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 2.7em;
    margin-bottom: 1em;
}
.portfolio-title p{
    width: 48em;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;
    margin: auto;
    margin-bottom: 3em;
}
.portfolio-botton{
    text-align: center;
    margin-bottom: 2.5em;
}

.portfolio-botton button{
    border:1px  solid #ffffff;
    background:#ffffff;
    color:#cdcdcd;
    text-align: center;
    width: 8.8em;
    border: 1px solid #ebebeb;
    margin-right: 1em;
}
.portfolio-botton button:hover{
    color:#ffffff;
    border:1px  solid #988574;
    background: #988574;
}

.portfolio-photo-mobile{
    background-image: url("img/photo-phone.svg");
    @include portfolio-photos();
        }
.portfolio-photo-mountains{
    @include portfolio-photos();
    background-image: url("img/photo-small-mountains.svg");
}
.portfolio-photo-information{
    @include portfolio-photos();
    background-position: inherit;
    background-position-x: -3em;
    background-image: url("img/photo-iformation.svg");
}
.portfolio-photo-bird{
    @include portfolio-photos();
    background-image: url("img/photo-bird.svg");
}
.portfolio-photo-book{
    @include portfolio-photos();
    background-image: url("img/photo-book.svg");
    }
.portfolio-photo-irland{
    @include portfolio-photos();
    background-image: url("img/photo-irland.svg");
}
.portfolio-photo-text{
    background-color: #fbfaf8;
    max-width: 23em;
    margin-bottom: 2em;
}
.portfolio-photo-text:hover{
    background-color: #352f2d;
}

.portfolio-photo-text h1{
height: 27px;
font-size: 20px;
color: #c7b299;
font-family: Raleway;
padding: 1.5em 0em 1em 1em;
}
.portfolio-photo-text h1:hover{
    color: #ffffff;
}
.portfolio-photo-text p{
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
    font-family: Montserrat;
    font-weight: 300;
    padding-left: 1.5em;
    padding-bottom: 2em;
}
.portfolio-photo-button{
    text-align: center;
    margin: 2.5em 0em 5em 0em;
}
.portfolio-photo-button button{
        border:1px  solid #988574;
         background:#988574;
         font-size: 14px;
         line-height: 2.5em;
          color: #ffffff;
          font-family: Raleway;
          font-weight: 800;
          text-align: center;
          width: 14em;
}
.big-photo-video{
    
    background-image:linear-gradient(rgba(33, 36, 42, 0.8), rgba(106, 100, 95, 0.2)), url("img/working-atmosphere.svg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 105em;
}
.big-photo-video-information{
margin: auto;
padding-top: 23em;
padding-bottom: 17em;

}
.big-photo-video-information h1{
    font-size: 2em;
    color: #ffffff;
    font-family: Raleway;
    text-align: center;
    margin-bottom: 1em;
}
.big-photo-video-information p{
    width: 35em;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 300;
    text-align: center;
    margin: auto;
}
.information-mobile-devices{
    @include center();
    }
    .mobile-devices-photo{
        background-image: url("img/iphone-in-hand.svg");
        height: 37em;
        margin-top: 5em;
        background-repeat: no-repeat;
    }
    .information-mobile-devices-text h1{
        margin-top: 6em;
        font-size: 2em;
        color: #555555;
        font-family: Raleway;
        font-weight: bold;
    }
    .information-mobile-devices-text p{
        width: 42em;
        font-size: 16px;
        line-height: 28px;
        color: #8c8c8c;
        font-family: Montserrat;
        font-weight: 300;
        margin-top: 2em;
    }
    .information-mobile-devices-text-addition{
        margin-left: 4em;
        margin-top: 3em;
    }
    .mobile-devices-icon{
     background-image: url("img/01.svg");
     height: 2em;
     background-repeat: no-repeat;
     width: 2em;
     float: left;
    }
    .mobile-devices-line{
        width: 35em;
        height: 1em;
font-size: 16px;
color: #8c8c8c;
font-family: Montserrat;
font-weight: 300;
    }
.strip-with-button-number-of-consumers{
@include center();
padding-top: 4em;
margin-top: -1em; 
display: flex;
justify-content: space-around;
padding-bottom: 4em;
}
.strip-with-button-number-of-consumers-block{
    max-width: 9em;
}
.strip-with-icon{
    background-image: url(img/icon-people.svg);
    @include strip-with-icon();
}
.strip-with-nomner{
    font-size: 3em;
     color: #ffffff;
    font-family: Montserrat;
     font-weight: 300;
    text-align: center;
}
.strip-with-button-number-of-consumers-block p{
    font-size: 14px;  
    color: #c7b299;
    font-family: "Montserrat";
    font-weight: 300;
    text-align: center;
    margin: auto;
}
.strip-with-line{
    width: 2em;
    border: 1px solid #ffffff;
    margin: auto;
    margin-top: 2em;
}
.strip-with-icon-tea{
    @include strip-with-icon();
    background-image: url(img/icon-tea.svg);
}
.strip-with-icon-post{
    @include strip-with-icon();
    background-image: url(img/icon-search.svg);
}
.strip-with-icon-like{
    @include strip-with-icon();
    background-image: url(img/icon-heard.svg);
}
.strip-with-icon-lounch{
    @include strip-with-icon();
    background-image: url(img/icon-menu.svg);
}

.portfolio-photo-boots{
    @include portfolio-photos();
    background-image: url(img/photo-boots.svg);
    background-position-y: -10em;
    background-position-x: center;
}
.post-photos{
    margin-bottom: 9em;
}
.post-photo-text{
    background-color: #ffffff;
    max-width: 23em;
    border: 1px solid #f7f7f7;
}
.post-photo-text h1{
height: 27px;
font-size: 20px;
color: #555555;
font-family: Raleway;
padding: 1.5em 0em 1em 1em;
}
.post-photo-text p{
    font-size: 14px;
    line-height: 20px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-weight: 300;
    padding: 1em 0em 1em 1.5em;
        
}
.post-photo-text a{
    font-size: 14px;
    line-height: 20px;
    color: #c7b299;
    font-family: Montserrat;
    font-weight: 300;
    padding: 1em 0em 1em 1.5em;
}
.post-photo-text:hover{
    background-color: #352f2d;
    border: 1px solid #352f2d;
}
.post-photo-text h1:hover{
    color: #968675;
}
.post-photo-text p:hover{
    color: #ffffff;
}
.portfolio-photo-computer{
    @include portfolio-photos();
    background-image: url(img/keyboard.svg);
    }
    .portfolio-photo-sheep{
        @include portfolio-photos();
        background-image: url(img/photo-sheep.svg);  
        background-position-y: -23em;
        background-position-x: -24em;
    }
    .big-picture-with-logos{
        background: linear-gradient(rgba(61, 62, 65, 0.9), rgba(23, 23, 23, 0.4)), url(img/photo.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110em
        
    }
    .big-picture{
        @include center();
    }
    .logos{
      display: flex; 
      padding-top: 10em;
      padding-bottom: 10em;
    }
    
    .logos-photo-barber{
        background-image: url(img/logo-01.svg);
        @include logo();
    }
    .logos-photo-product{
        background-image: url(img/logo-02.svg);
        @include logo();
    }
    .logos-photo-designer{
        background-image: url(img/logo-03.svg);
        @include logo();
    }
    .logos-photo-royal{
        background-image: url(img/logo-04.svg);
        @include logo();
    }
.information-about-the-company{
   background: #191919;
}
.waxon-end icon-firm{
    padding-right: 2em;
}
.icon-firm2{ 
    background-image: url("img/logos-firm.svg");
    background-size: 4em;
    background-repeat: no-repeat;
    background-position-y: -0.3em;
                }

.waxon-end p{
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    font-family: Montserrat;
    font-weight: 300;
    margin-bottom: 2em;
    margin-top: 2em;
}
.waxon-end a{
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
    font-family: Montserrat;
    font-weight: 700;}

    .recent-posts h1{
        @include recent-posts-h1();
    }
    .recent-posts p{
        @include recent-posts-p();
    }
    .recent-posts p:hover{
        color: #ffffff;
    }
    .recent-posts p.p-bottom{
        @include line-after-words ();
    }
    .recent-posts p.p-bottom:hover{
        color: #c7b299;
    }
    .recent-posts p.p-bottom2{
        font-size: 14px;
        line-height: 20px;
        color: #555555;
        font-family: Montserrat;
        font-weight: 300;
        padding-bottom: 11em;
    }
    .recent-posts p.p-bottom2:hover{
        color: #c7b299;
    }
    .twitter h1{
        @include recent-posts-h1(); 
    }
    .twitter p.p-bottom{
        @include line-after-words ();
        border: none;
        padding-bottom: 3.7em;
    }
    .twitter p.p-bottom:hover{
        color: #c7b299;}

    .twitter p{
        @include recent-posts-p();
        padding-bottom: 3em;
        border-bottom: 1px solid #242424;
    }
    .twitter p:hover{
        color: #ffffff;
    }
    .twitter p.p-bottom2{
        @include line-after-words ();
        border: none;
        padding-bottom: 1em;
          }
          .twitter p.p-bottom3{
            @include recent-posts-p();
            border: none;
              }
              .widget h1{
                @include recent-posts-h1(); 
            }
   .line-small-photo{
          margin-top: 1.5em;  
        }
        
        .small-photo-1{
            background-image: url("img/small-photo.svg");
            @include line-small-photo (); 
        }
        .small-photo-2{
            background-image: url("img/small-photo2.svg");
            @include line-small-photo (); 
        }
        .small-photo-3{
            background-image: url("img/small-photo3.svg");
            @include line-small-photo (); 
        }
        .small-photo-4{
            background-image: url("img/small-photo4.svg");
            @include line-small-photo (); 
        }
        table{
            width: 17em;
            border-spacing: 0.6em 0.6em;
            border-collapse: separate;
        }